# Break, Continue and Pass Statement

In [1]:
cities = ["Mumbai", "Chennai", "Delhi", "Kolkata"]

## Break Statement

In [2]:
print("Program Started")

for city in cities:
    if city == "Delhi":
        break
    else:
        print(city)
        
print("Program ended.")

Program Started
Mumbai
Chennai
Program ended.

In [3]:
# First iteration, city = "Mumbai"
# Second iteration, city = "Chennai"
# Third iteration, city = "Delhi"

In [4]:
i = 0
print("Program Started")

while i < 5:
    if i == 3:
        print("Executing break statement in the next statement.")
        break
    else:
        print(i)
        i += 1

Program Started
0
1
2
Executing break statement in the next statement.

## Continue Statement

In [5]:
cities = ["Mumbai", "Chennai", "Delhi", "Kolkata"]

In [6]:
for city in cities: # Level 1
    if city == "Delhi": # Level2 
    	continue  # Level 3
    else:  # Level 2
    	print(city) # Level 3

Mumbai
Chennai
Kolkata

In [8]:
i = 0
while i < 5:
    if i == 3:
        i += 1
        continue
    else:
        print(i)
        i += 1

0
1
2
4

## Pass Statement

In [9]:
cities = ["Mumbai", "Chennai", "Delhi", "Kolkata"]

In [14]:
for city in cities:
    pass

In [16]:
i = 0
while i < 5:
    if i == 3:
        i += 1
        pass
    else:
        print(i)
        i += 1

0
1
2
4