# Python Exercise (11-20)

## Question 11

Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.

Example:
```
0100,0011,1010,1001
```
Then the output should be:
```
1010
```

In [1]:
binary_numbers = input("Enter your comma-separated numbers: ").split(",")
divisible_by_5 = []
for num in binary_numbers:
  if int(num) % 5 == 0:
    divisible_by_5.append(num)
  else:
    continue

print(",".join(divisible_by_5))

Enter your comma-separated numbers: 0100,0011,1010,1001
0100,1010

## Question 12

Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.
The numbers obtained should be printed in a comma-separated sequence on a single line.

In [2]:
even_digit_numbers = []
for num in range(1000,3001):
  num_string = str(num)
  condition = True

  for digit in num_string:
    if int(digit) % 2 != 0:
      condition = False

  if condition == True:
    even_digit_numbers.append(str(num))

print(",".join(even_digit_numbers))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

## Question 13

Write a program that accepts a sentence and calculate the number of letters and digits.
Suppose the following input is supplied to the program:
```
hello world! 123
```
Then, the output should be:
```
LETTERS 10
DIGITS 3
```

In [4]:
sentence = input("Enter a sentence: ")
letter_count = 0
digit_count = 0

for char in sentence:
  if char.isalpha():
    letter_count += 1
  elif char.isdigit():
    digit_count += 1
  else:
    continue

print("LETTERS", letter_count)
print("DIGITS", digit_count)

Enter a sentence: hello my name is aditi and im 14
LETTERS 23
DIGITS 2

## Question 14

Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.
Suppose the following input is supplied to the program:
```
Hello world!
```
Then, the output should be:
```
UPPER CASE 1
LOWER CASE 9
```

In [5]:
sentence = input("Enter your sentence: ")

uppercase_count = 0
lowercase_count = 0

for char in sentence:
  if char.isupper():
    uppercase_count += 1
  elif char.islower():
    lowercase_count += 1
  else:
    continue

print("UPPER CASE", uppercase_count)
print("LOWER CASE", lowercase_count)

Enter your sentence: HellO worLd
UPPER CASE 3
LOWER CASE 7

## Question 15

Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.
Suppose the following input is supplied to the program:
```
9
```
Then, the output should be:
```
11106
```

In [6]:
a = input("enter your digit: ")
sum = 0
for i in range(1, 5):
  a_string = a*i
  a_int = int(a_string)
  sum = sum + a_int

print(sum)

enter your digit: 3
3702

In [7]:
3+33+333+3333

3702

## Question 16

Use a list comprehension to select each odd number in a list. The list is input by a sequence of comma-separated numbers.
Suppose the following input is supplied to the program:
```
1,2,3,4,5,6,7,8,9
```
Then, the output should be:
```
1,3,5,7,9
```

## Question 17

Question:
Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following:
```
D 100
W 200
```
D means deposit while W means withdrawal.
Suppose the following input is supplied to the program:
```
D 300
D 300
W 200
D 100

```
Then, the output should be:
```
500
```

## Question 18
A website requires the users to input username and password to register. Write a program to check the validity of password input by users.
Following are the criteria for checking the password:
1. At least 1 letter between [a-z]
2. At least 1 number between [0-9]
1. At least 1 letter between [A-Z]
3. At least 1 character from [$#@]
4. Minimum length of transaction password: 6
5. Maximum length of transaction password: 12

Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma.

If the following passwords are given as input to the program:

```
ABd1234@1,a F1#,2w3E*,2We3345
```
Then, the output of the program should be:
```
ABd1234@1

```

## Question 19

You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is:
1: Sort based on name;
2: Then sort based on age;
3: Then sort by score.
The priority is that name > age > score.
If the following tuples are given as input to the program:

```
Tom,19,80
John,20,90
Jony,17,91
Jony,17,93
Json,21,85
```
Then, the output should be:
```
[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]
```

## Question 20

Define a class with a generator which can iterate the numbers, which are divisible by 7, between a given range 0 and n.