## Introduction to Datatypes
In Python, data types are used to categorize and represent different types of data that can be used in a program. They are used to classify different types of data that can be stored and manipulated in a program. The most common data types in Python include integers, floats, strings, booleans, and lists.

The most common built-in data types in Python are:
* **Integer:** Represents whole numbers, such as 1, 2, 3, -4, -5, etc.

* **Float:** Represents decimal numbers, such as 3.14, 2.5, -1.0, etc.

* **String:** Represents a sequence of characters, such as "hello", "world", "123", etc.

* **Boolean:** Represents either True or False.

* **List:** Represents an ordered collection of values, which can be of any data type. For example, [1, 2, 3], ["apple", "banana", "orange"], etc.

* **Tuple:** Similar to a list, but immutable, meaning it cannot be modified once created. For example, (1, 2, 3), ("apple", "banana", "orange"), etc.

* **Set:** Represents an unordered collection of unique values. For example, {1, 2, 3}, {"apple", "banana", "orange"}, etc.

* **Dictionary:** Represents a collection of key-value pairs, where each key is associated with a value. For example, {"name": "John", "age": 30}, {"fruit": "apple", "color": "red"}, etc

### Examples

### Integer Datatype
Integers are whole numbers, such as 1, 2, 3, etc. They can be positive or negative.

In [1]:
# Integer Datatype
myInt = 8
print(myInt, "is a type of", type(myInt))

8 is a type of <class 'int'>

### Float Datatype
Floats are numbers with a decimal point, such as 3.14, 2.5, etc. They can also be positive or negative.

In [2]:
# Float Datatype
myFloat = 8.5
print(myFloat, "is a type of", type(myFloat))

8.5 is a type of <class 'float'>

### String Datatype
Strings are sequences of characters, such as "hello", "world", etc. They are enclosed in quotation marks (single or double).

In [3]:
# String Datatype
myString1 = "GeoNext"
myString2 = "8.5"
print(myString1, "is a type of", type(myString1))
print(myString2, "is a type of", type(myString2))

GeoNext is a type of <class 'str'>
8.5 is a type of <class 'str'>

### Boolean Datatype
Booleans are values that can be either True or False. They are often used in conditional statements and loops.

In [4]:
# Boolean Datatype
myBool1 = True
myBool2 = False
print(myBool1, "is a type of", type(myBool1))
print(myBool2, "is a type of", type(myBool2))

True is a type of <class 'bool'>
False is a type of <class 'bool'>

### List Datatype
Lists are ordered collections of values, which can be of any data type. They are enclosed in square brackets and separated by commas, like [1, 2, 3] or ["apple", "banana", "orange"].

In [5]:
# List Datatype
myList1 = ["Apple", "Banana", "Orange"]
myList2 = [1, 2, 3] 
myList3 = ["Apple", 2, 3.5]  
print(myList1, "is a type of", type(myList1))
print(myList2, "is a type of", type(myList2))
print(myList3, "is a type of", type(myList3))

['Apple', 'Banana', 'Orange'] is a type of <class 'list'>
[1, 2, 3] is a type of <class 'list'>
['Apple', 2, 3.5] is a type of <class 'list'>

### Tuple Datatype
Tuples are similar to a list, but immutable, meaning it cannot be modified once created. They are enclosed in round brackets and separated by commas, such as (1, 2, 3) or ("apple", "banana", "orange").

In [6]:
# Tuple Datatype
myTuple1 = ("Apple", "Banana", "Orange")
myTuple2 = (1, 2, 3)
myTuple3 = ("Apple", 2, 3.5)
print(myTuple1, "is a type of", type(myTuple1))
print(myTuple2, "is a type of", type(myTuple2))
print(myTuple3, "is a type of", type(myTuple3))

('Apple', 'Banana', 'Orange') is a type of <class 'tuple'>
(1, 2, 3) is a type of <class 'tuple'>
('Apple', 2, 3.5) is a type of <class 'tuple'>

### Set Datatype
Set represents an unordered collection of unique values. They are enclosed in curly brackets and separated by commas. For example, {1, 2, 3}, {"apple", "banana", "orange"}, etc.

In [7]:
# Tuple Datatype
mySet1 = {"Apple", "Banana", "Orange"}
mySet2 = {1, 2, 3, 2}
mySet3 = {"Apple", 2, 3.5, "Apple"}
print(mySet1, "is a type of", type(mySet1))
print(mySet2, "is a type of", type(mySet2))
print(mySet3, "is a type of", type(mySet3))

{'Banana', 'Orange', 'Apple'} is a type of <class 'set'>
{1, 2, 3} is a type of <class 'set'>
{2, 3.5, 'Apple'} is a type of <class 'set'>

### Dictionary Datatype
It represents a collection of key-value pairs, where each key is associated with a value. Dictionaries are enclosed with curly brackets and the items of the dictionary are separated by commas. For example, {"name": "John", "age": 30}, {"fruit": "apple", "color": "red"}, etc.

In [8]:
# Dictionary Datatype
myDict1 = {"fruit": "Apple", "color": "Red", "is_edible": True}
print(myDict1, "is a type of", type(myDict1))

{'fruit': 'Apple', 'color': 'Red', 'is_edible': True} is a type of <class 'dict'>